#{extends 'main.html' /}
#{set title:'About' /}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">
		  At Ease and Renewed
		  <small>
			<br/>An Assisted Living Community<br/>
		  </small>
	  </h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
		<a class="nav-link active" href="/about">About</a>
        <a class="nav-link" href="/services">Services</a>
        <a class="nav-link" href="/contact">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Dedicated to your loved ones</h1>
	<p>Daily care and assistance customized to care plan needs.<br/>Routine visits conducted every 45 days by our delegating nurse where health and mental status is assessed.</p>
	<br/>
    <h2>Staff Trained in the following</h2>
	<ul>
		<li>Certified Medication Technician</li>
		<li>CPR/First Aid</li>
		<li>Resident Rights</li>
		<li>Resident Assessment Process</li>
		<li>Basic Food Safety</li>
		<li>Infection Control</li>
		<li>Dementia &amp; Mental Illness</li>
		<li>Use of Service Plans</li>
	</ul>
	<i>Abbreviated list</i>
	<br/>
    <h2>Licenses and Certifications</h2>
	<ul>
		<li>Licebsed by OHCQ</li>
		<li>Medicaid Waiver Approved</li>
	</ul>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>